<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainpage.css" />
    <link rel="stylesheet" href="~/css/template.css" />
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li class="active menu_li"><a href="#">새소식</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>공지사항</a></li>
                        <li><a href=#>업데이트</a></li>
                        <li><a href=#>이벤트</a></li>
                        <li><a href=#>GM노트</a></li>
                        <li><a href=#>펄 상점</a></li>
                    </ul>
                </div>
            </li>
            <li class="active menu_li"><a href="#">게임 소개</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>게임 특징</a></li>
                        <li><a href=#>클래스 소개</a></li>
                        <li><a href=#>모험가 가이드</a></li>
                    </ul>
                </div>
            </li>
            <li class="active menu_li"><a href="#">모험가 캠프</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>모험가</a></li>
                        <li><a href=#>길드</a></li>
                        <li><a href=#>뷰티앨범</a></li>
                        <li><a href=#>포토갤러리</a></li>
                        <li><a href=#>업데이트 히스토리</a></li>
                        <li><a href=#>통합거래소</a></li>
                        <li><a href=#>파트너 스트리머</a></li>
                    </ul>
                </div>    
            </li>
            <li class="active menu_li"><a href="#">상점</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>Acoin</a></li>
                        <li><a href=#>쿠폰사용</a></li>
                        <li><a href=#>펄 상자 구매</a></li>
                    </ul>
                </div>
            </li>
            <li class="active menu_li"><a href="#">커뮤니티</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>전체글</a></li>
                        <li><a href=#>피드백 게시판</a></li>
                        <li><a href=#>자유 게시판</a></li>
                        <li><a href=#>게임 토론</a></li>
                        <li><a href=#>모집 & 홍보</a></li>
                        <li><a href=#>건의 게시판</a></li>
                        <li><a href=#>팁 & 노하우</a></li>
                        <li><a href=#>클래스 공략</a></li>
                        <li><a href=#>팬 아트</a></li>
                        <li><a href=#>스크린샷 & 영상</a></li>
                    </ul>
                </div>
            </li>
            <li class="active menu_li"><a href="#">다운로드</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>클라이언트</a></li>
                        <li><a href=#>영상</a></li>
                        <li><a href=#>웹페이퍼</a></li>
                        <li><a href=#>OST</a></li>
                    </ul>
                </div>    
            </li>
            
            <li class="active menu_li"><a href="#">고객센터</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href=#>FAQ</a></li>
                        <li><a href=#>신고센터</a></li>
                        <li><a href=#>보안센터</a></li>
                    </ul>
                </div>    
            </li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>




