@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/template.css" />
<link rel="stylesheet" href="~/css/magnific-popup.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/modal.js" asp-append-version="true"></script>
@Html.Raw(Model.Code)

@*<section class="multi_media_wrap">
    <h3 id="maintitle">멀티미디어</h3>
    <span class="h3_desc" id="subtitle">리마스터링으로 더욱 현실에 가까워진 검은사막의 영상, 월페이퍼 등<br>다양한 자료를 감상하거나 다운로드 받으실 수 있습니다.</span>
    <div class="media_list_area">
        <div class="inner gallerys">
            <div class="thumb_movie">
                <a id="youtube_link" href="https://www.youtube.com/watch?v=P-glVgwoKeo" target="_blank" class="view_movie mfp-iframe" data-url="https://www.youtube.com/embed/P-glVgwoKeo?rel=0" attr-type="video" attr-idx="0">
                    <img id="image5_400" src="https://s1.pearlcdn.com/KR/Upload/thumbnail/2021/X2LTJ3IKDMNOLS2920211229091030566.923x522.png" class="img-fluid" alt="설산 지역, 끝없는 겨울의 산">
                    <span id="thumbnail_text" class="title">설산 지역, 끝없는 겨울의 산</span>
                </a>
            </div>
            <div class="thumb thumb_wrap">
                <a id="image1_1300" href="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/0D6H7FSW6SA0SJFB20220105100300352.400x225.jpg" target="_blank" class="view_img" attr-type="image" attr-idx="1">
                    <img id="image1_400" src="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/0D6H7FSW6SA0SJFB20220105100300352.400x225.jpg" class="img-fluid" alt=" ">
                </a>
            </div>
            <div class="thumb thumb_wrap">
                <a id="image2_1300" href="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/71BHI0AW6FHYA5GS20220105100247297.400x225.jpg" target="_blank" class="view_img" attr-type="image" attr-idx="2">
                    <img id="image2_400" src="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/71BHI0AW6FHYA5GS20220105100247297.400x225.jpg" class="img-fluid" alt=" ">
                </a>
            </div>
            <div class="thumb thumb_wrap">
                <a id="image3_1300" href="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/ASOSR5B9NUKS2HWR20220105095951372.400x225.jpg" target="_blank" class="view_img" attr-type="image" attr-idx="3">
                    <img id="image3_400" src="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/ASOSR5B9NUKS2HWR20220105095951372.400x225.jpg" class="img-fluid" alt=" ">
                </a>
            </div>
            <div class="thumb thumb_wrap">
                <a id="image4_1300" href="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/YC6V31IIX8YB797G20220105095746527.400x225.jpg" target="_blank" class="view_img" attr-type="image" attr-idx="4">
                    <img id="image4_400" src="https://s1.pearlcdn.com/KR/Upload/thumbnail/2022/YC6V31IIX8YB797G20220105095746527.400x225.jpg" class="img-fluid" alt=" ">
                </a>
            </div>
        </div>
    </div>
</section>*@